h1 {
    color: mediumpurple;
}

body {
    background-color: lightgrey;
    margin: 0;
}

.container {
    width: 96vw;
    max-width: 1000px;
    background-color: white;
    margin: 0 auto;
    min-height: 90vh;
    padding: 4%;
}

header, footer {
    width: 100%;
    background-color:black;
    color: white;
}

nav, nav a {
    background-color: purple;
    color: white;
    padding: 6px; 
}
nav a:hover {
    background-color: blue;
}

footer {
    text-align: center;
}

@media (max-width: 740px){
    .container{
        background-color: aquamarine;
    }
}